@import '../../../styles/environment/mixins';
@import '../../../styles/environment/colors';

.catchedPokemonsWrapper {
  width: 1200px;
  height: 100%;
  margin: 100px auto 10px auto;
  display: flex;
  flex-direction: column;

  @include desktop() {
    width: 900px;
  }

  @include laptop() {
    width: 750px;
  }

  @include tablets() {
    width: 100%;
    margin: 70px 0 0 0;
  }

  @include phones() {
    width: 100%;
    margin: 70px auto 0 auto;
  }
}

.catchedPokemons {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-flow: row wrap;
}

.notCatched {
  align-self: center;
  justify-self: center;
  font-weight: bold;
  background-color: $wht;
  padding: 50px 50px;
  font-size: 2rem;
  border-radius: 10px;
  border: 3px solid $blk;
  text-align: center;
}