@import '../../../styles/environment/colors';

.pokedexFooter {
  flex: 0 0 auto;
  height: 7vh;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #e8e8e8 1%, #e8e8e8 100%);
  //box-shadow: 0 0 10px 2px $gry;
}

.footerWrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  margin: 0 20px;
}
